NODE_ENV=production
CLOUD_MODE=off
HOST=127.0.0.1
PORT=3003
AWS_REGION=eu-central-1

ANALYTICS_ENABLED=0
ANALYTICS_DB=/var/lib/smalldocs/analytics/analytics.db
SHORT_LINKS_DB=/var/lib/smalldocs/short-links/short_links.db
FEEDBACK_DB=/var/lib/smalldocs/feedback/feedback.db
TEAMS_DB=/var/lib/smalldocs/teams/teams_interest.db
